.gradle/
.gradle-home/
build/
out/
bin/
dist/
nbbuild/
.nb-gradle/
nbproject/private/

.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache

.idea/
*.iml
*.ipr
*.iws

.apt_generated

.env
.env.*
uploads/

.DS_Store
*.log

!gradle/wrapper/gradle-wrapper.jar