<div th:fragment="successModal">
  <div class="modal fade" id="successModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content custom-modal-content">
        <div class="modal-body text-center">
          <p class="modal-message">
            <span id="itemCategory" class="bold-text"></span> に <span id="itemName" class="bold-text"></span> を
            <span id="itemTime" class="bold-text"></span>で追加しました！
          </p>
          <button id="backToEdit" class="btn btn-primary custom-button">編集ページに戻る</button>
        </div>
      </div>
    </div>
  </div>
</div>
