<div th:fragment="deleteSuccessModal">
  <div class="modal fade" 
  id="deleteSuccessModal" 
  tabindex="-1" 
  data-bs-backdrop="static" 
  data-bs-keyboard="false" 
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content custom-modal-content">
        <div class="modal-body text-center">
          <p class="modal-message">
            <span id="deletedItemName" class="bold-text"></span> を削除しました!
          </p>
          <button id="backToEditFromDelete" class="custom-button">編集ページに戻る</button>
        </div>
      </div>
    </div>
  </div>
</div>
