body {
  background-color: white;
}


.underline-input {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  background-color: transparent;
}
.underline-input:focus {
  outline: none;
  box-shadow: none;
  border-bottom: 2px solid #1B5678;
}

/* 共通ヘッダー */
.header,
.header-between {
  height: 120px;
  background-color: #1B5678;
  color: white;
  padding: 0 40px;
  display: flex;
  align-items: center;
}
.header {
  justify-content: center;
}
.header-between {
  justify-content: space-between;
}

/* メイン全体 */
.main-container {
  flex: 1;
  padding-bottom: 40px;
  display: block;
}

.main-wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 80px 0;
}

.title {
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  width: 144px;
  height: 48px;
  margin-top: 80px;
  margin-bottom: 40px;
}


/* ボタン共通 */
.btn-common {
  padding: 0.5rem 0;
  height: 53px;
  background-color: #1B5678;
  color: white;
  border-radius: 4px;
  text-align: center;
}

.btn-common:hover {
  background-color: #1e618b;
  color: white;
}

/* フッター */
.footer {
  background-color: #1B5678;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  margin-top: auto;
}
.footer small {
  color: white;
}
