
/* modalBase.css */
.modal-dialog {
  max-width: unset;
  width: 640px;
  margin: auto;
}

.custom-modal-content {
  width: 640px;
  height: 240px;
  border-radius: 0;
  background-color: #fff;
  border: 2px solid #fff;
  box-shadow: none;
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-button {
  width: 192px;
  height: 48px !important;
  background-color: #1B5678;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #1B5678;
}